{% load static i18n compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="DeFi Kingdoms Transaction Tracker">

    <title>DeFi Kingdoms Transaction Tracker</title>

    {% compress css %}
    <link type="text/x-scss" href="{% static 'scss/base.scss' %}" rel="stylesheet">
    {% endcompress %}

    {% block css %}
    {% endblock %}

    {% compress js %}
    <script defer src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    {% endcompress %}
  </head>

  <body>
    {% block content %}{% endblock %}
  </body>
</html>
