body {
  background: #100F21;
}

h1 {
  color: #FBE375;
}

.wallet-address-container {
  margin-right: 0.5rem!important;
  margin-left: 0.5rem!important;
}

@media (min-width: 576px) {
  .wallet-address-container {
    width: 75%!important;
  }
}

@media (min-width: 992px) {
  .wallet-address-container {
    width: 50%!important;
  }
}

input.form-control:focus {
    border: 1px solid #ced4da;
    box-shadow: None;
}

input.form-control.is-invalid:focus {
    border: 1px solid #ced4da;
    box-shadow: None;
}

.btn-primary {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 156, 68);
  border-color: #100F21;
}

.btn-primary:hover {
  color: #212529;
  background-color: #FBE375;
  border-color: #100F21;
}
