.wallet-address-container {
  margin-right: 0.5rem!important;
  margin-left: 0.5rem!important;
}

@media (min-width: 576px) {
  .wallet-address-container {
    width: 75%!important;
  }
}

@media (min-width: 992px) {
  .wallet-address-container {
    width: 50%!important;
  }
}
