// Overriding default variables from boostrap.scss
$danger: #f83b4d;

$accordion-bg: #ffe0b7;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
  background: #100F21;
}

.btn-primary {
  @include button-variant(
    #009C44,
    #100F21,
    #FFFFFF,
    #FBE375,
    #100F21,
    #212529
  );
}

