{% extends "base.html" %}
{% load static compress %}

{% block css %}
  {% compress css %}
    <link type="text/x-scss" href="{% static 'scss/transactions_get.scss' %}" rel="stylesheet">
  {% endcompress %}
{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center">
  {% for transaction in transactions %}
    <div class="accordion-item text-wrap text-break mx-3 my-2">
      <div class="accordion-header">
        <div class="accordion-button collapsed flex-column align-items-start" data-bs-toggle="collapse" data-bs-target="#collapse{{forloop.counter0}}" aria-expanded="false" aria-controls="collapse{{forloop.counter0}}">
          <span>{{ transaction.date }}</span>

          <div class="d-flex flex-row justify-content-between w-100">
            <span>{{ transaction.transaction_type }}</span>
            <span>{{ transaction.action }}</span>
          </div>
        </div>
      </div>

      <div id="collapse{{forloop.counter0}}" class="accordion-collapse collapse">
        <div class="accordion-body">
          <strong>Transaction hash:</strong>
          <a href="{{ transaction.block_explorer_link }}" target="_blank">{{ transaction.tx_hash }}</a>

          <hr>

          <strong>Status:</strong>
          <span class="badge rounded-pill {{ transaction.status_badge_css_class }}">{{ transaction.status }}</span>

          <hr>

          <strong>Gas fee:</strong>
          <span>{{ transaction.gas_fee }}</span>

          {% if transaction.has_token_transfers %}
            <hr>

            <strong>Token transfers:</strong>
            {% with transfers=transaction.sent_tokens %}
              {% if transfers|length > 0 %}
                <p>Sent</p>
                <ul>
                {% for transfer in transfers %}
                  <li>{{ transfer.token }}: {{ transfer.amount }}</li>
                {% endfor %}
              {% endif %}
              </ul>
            {% endwith %}

            {% with transfers=transaction.received_tokens %}
              {% if transfers|length > 0 %}
                <p>Received</p>
                <ul>
                {% for transfer in transfers %}
                  <li>{{ transfer.token }}: {{ transfer.amount }}</li>
                {% endfor %}
              {% endif %}
              </ul>
            {% endwith %}
          {% endif %}


        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
