{% extends "base.html" %}
{% load static compress %}

{% block css %}
  {% compress css %}
    <link type="text/x-scss" href="{% static 'scss/transactions_get.scss' %}" rel="stylesheet">
  {% endcompress %}
{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center">
  {% for transaction in transactions %}
    <div class="accordion-item text-wrap text-break mx-3 my-2">
      <div class="accordion-header">
        <div class="accordion-button collapsed flex-column align-items-start" data-bs-toggle="collapse" data-bs-target="#collapse{{forloop.counter0}}" aria-expanded="false" aria-controls="collapse{{forloop.counter0}}">
          <span>{{ transaction.date }}</span>
          <div class="d-flex flex-row justify-content-between w-100">
            <span>{{ transaction.transaction_type }}</span>
            <span>{{ transaction.action }}</span>
          </div>
        </div>
      </div>

      <div id="collapse{{forloop.counter0}}" class="accordion-collapse collapse">
        <div class="accordion-body">
          world{{forloop.counter0}}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
